<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skyjaj.hors">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- actvitity可视化 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!-- 用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <!-- SD卡读取权限，用户写入离线定位数据-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>

    <!--<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />-->
    <!--<uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />-->
    <!--<uses-permission android:name="android.permission.ACCES_MOCK_LOCATION" />-->
    <!--<uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />-->
    <!--<uses-permission android:name="android.permission.WAKE_LOCK" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_GPS" />-->
    <!--&lt;!&ndash; SDK1.5需要android.permission.GET_TASKS权限判断本程序是否为当前运行的应用? &ndash;&gt;-->
    <!--&lt;!&ndash;<uses-permission android:name="android.permission.GET_TASKS" />&ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.BROADCAST_STICKY" />-->
    <!--<uses-permission android:name="android.permission.WRITE_SETTINGS" />-->
    <!--&lt;!&ndash; 来电消音 &ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />-->
    <!--<uses-permission android:name="android.permission.READ_PHONE_STATE" />-->
    <!--<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />-->
    <!--<uses-permission android:name="android.permission.RECORD_AUDIO" />-->
    <!--&lt;!&ndash;摄影机&ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.CAMERA" />-->



    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 百度地图-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="Bg4z2Pli7GYOEBBRV5bqiyQHK88cGm7k" />

        <service android:name="com.baidu.location.f" android:enabled="true" android:process=":remote">
        </service>

        <activity
            android:name=".activities.SystemLoginActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".activities.IndexCommonActivity"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity android:name=".activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.DemoActivity" />
        <activity android:name=".activities.SearchActivity" />
        <activity android:name=".activities.RegistereActivity" />
        <activity android:name=".activities.IndexServiceAppointmentActivity" />
        <activity android:name=".activities.IndexDepartmentDoctorActivity" />
        <activity android:name=".activities.IndexDoctorAppointmentActivity" />
        <activity android:name=".activities.IndexReservationConfirmActivity" />
        <activity android:name=".activities.CalenderActivity" />
        <activity android:name=".activities.PointOfTimeActivity" />
        <activity android:name=".activities.ShowResultActivity" />
        <activity android:name=".activities.UserInformactionAcitvity" />
        <activity android:name=".activities.ShowHistoryActivity" />
        <activity
            android:name=".doctor.activities.HomePage"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />

        <receiver android:name="org.androidpn.client.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="org.androidpn.client.NotificationService"
            android:enabled="true"
            android:label="NotificationService">
            <intent-filter>
                <action android:name="org.androidpn.client.NotificationService" />
            </intent-filter>
        </service>

        <activity android:name=".doctor.activities.ReservationInformation" />
        <activity android:name=".doctor.activities.DoctorWorkRecord" />
        <activity android:name=".admin.activities.AdminMainActivity" />
        <activity
            android:name=".activities.ActionForActivity"
            android:theme="@android:style/Theme.Translucent" />
        <activity android:name=".admin.activities.DoctorManagerActivity" />
        <!-- windowSoftInputMode设置避免输入法把布局顶上去 -->
        <activity
            android:name=".admin.activities.MessageManagerActivity"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity android:name=".admin.activities.DepartmentManagerActivity" />
        <activity android:name=".admin.activities.ReservationManagerActivity" />
        <activity
            android:name=".activities.SearchViewActiviy"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity android:name=".activities.SearchMoreActivity" />
        <activity android:name=".activities.SettingActivity" />
        <activity android:name=".activities.NowDayPointTime"></activity>
        <activity android:name=".allipay.PayEnterActivity"></activity>
        <activity android:name=".weixin.wxapi.WXEntryActivity" android:exported="true"/>
        <activity android:name=".clipview.MainActivity"/>
        <activity android:name=".clipview.ClipActivity" />
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


    </application>

</manifest>
